!!! 5
html
  head
    title Tokens App
    script(src="assets/javascript/mobile_vendor.js")
    script(src="assets/javascript/mobile.js")

  body
    #container
      #content
        h1 Tokens App
