!!! 5
html
  head
    title Tokens App
    link(rel='stylesheet', href='/assets/mobile.css')
    script(src="/assets/mobile_vendor.js")
    script(src="/assets/mobile.js")

  body
    #container
      #content
        h1 Tokens App
