body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  background #555
  margin 0

html, body, #container, #content
  height 100%

#container
  width 320px
  background #fff
  margin: 0 auto
  padding 10px
  overflow hidden
  position relative
